<div class="col-lg-4 col-md-4">
	<%= link_to service_path(service.permalink) do %>
		<div class="single-service">
			<div class="service-icon">
				<span class="service-icon-effect <%= service.logo_class %>" ></span>  
			</div>                      
			<h3>
				<%= service.header %>
			</h3>
		</div>
	<%end%>
</div>
            