<% provide(:title, 'Фотографии') %>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<h1>Фотографии</h1>
<table class="table"> 
	<thead> 
		<tr style="vertical-align:middle;"> 
			<th></th> 
			<th>Альбом</th>
			<th>Услуга</th>
			<th>Название</th> 
			<th class="text-center">Фото</th>
			<th></th>
		</tr> 
	</thead> 
	<tbody> 
		<%= render partial: "photo", collection: @photos, :as => :photo %>
	</tbody>
</table>

<% content_for :right do %>
	<%= link_to raw("<span class='glyphicon glyphicon-plus-sign'></span>Добавить"), {:controller => "photos", :action => "new"}, class: "btn btn-success" %>
<% end %>