<figure itemprop="associatedMedia" class="col-lg-2 col-md-2 col-sm-4 col-xs-4 client-block">
  <a class="gallery-iteam">
    <%= image_tag(client.image.url(:view_thumbnail), itemprop:"thumbnail", :alt => client.name, class: "clients-image") %>
    <span class="image-effect"></span>
  </a>                         
</figure>