<section id="advantages">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="service-area">
          <div class="section-heading">
            <h2><%= raw(@why_me.header) %></h2>
            <div class="line"></div>
          </div>              
        </div>
      </div>
      <%= raw(@why_me.body) %>           
    </div>
  </div>
</section>