<section id="advantages">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="service-area">
          <div class="section-heading">
            <h2>Преимущества</h2>
            <div class="line"></div>
          </div>              
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="whyChoose-right">
              <div class="media">
                <div class="media-left">
                  <a class="media-icon">
                    <span class="icon-businessmen"></span>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Профессионализм</h4>
                  <p>
                  	6 лет успешного опыта в event- сфере позволяет найти подход к каждому на празднике и объединить гостей разных возрастов.
                  </p>  
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <a  class="media-icon">
                    <span class="fa fa-money"></span>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Привлекательные цены</h4>
                  <p>
                  	Цена на проведение праздника зависит от многих факторов. Успешный праздник не обязательно будет стоить космических денег. Гибкая ценовая политика Вас приятно удивит и порадует!
                  </p>  
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <a  class="media-icon">
                    <span class="fa fa-newspaper-o"></span>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Авторские сценарии</h4>
                  <p>
                  	Все мои идеи, задумки,  авторские разработки  воплощаются в эксклюзивные конкурсы, интерактивы, новые фишки, создавая праздник мечты, индивидуальный для каждого!
                  </p>  
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <a  class="media-icon">
                    <span class="icon-productivity"></span>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Интеллигентная манера ведения</h4>
                  <p>
                  	На праздниках, благодаря качественному юмору, современному  и стильному подходу, ненавязчивой программе царит приятная дружеская атмосфера.
                  </p>  
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <a  class="media-icon">
                    <span class="icon-responsive-design-for-modern-monitors"></span>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Современный стиль</h4>
                  <p>
                  	Никакой пошлости и колхоза! Только стильное ненавязчивое ведение, авторские конкурсы, розыгрыши и добрый юмор!
                  </p>  
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <a  class="media-icon">
                    <span class="icon-smiling-emoticon-square-face"></span>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Чувство юмора</h4>
                  <p>
                  	Юмор, позитив, драйв, умение по-доброму шутить – это неотъемлемые качества хорошей ведущей!
                  </p>  
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <a  class="media-icon">
                    <span class="fa fa-thumbs-o-up"></span>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Отличная импровицация</h4>
                  <p>
                  	На праздниках не все может идти четко по намеченному плану. Грамотная импровизация ведущей поможет найти выход из любой неожиданной ситуации!
                  </p>  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="whyChoose-right">
              <div class="media">
                <div class="media-left">
                  <a  class="media-icon">
                    <span class="icon-clap"></span>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Благодарные клиенты</h4>
                  <p>
                  	Ваши улыбки и слова благодарности стимулируют меня на развитие и достижение новых высот!
                  </p>  
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <a  class="media-icon">
                    <span class="fa fa-glass"></span>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Любой праздник – событие!</h4>
                  <p>
                  	Превратить праздник в событие? Легко! Торжества всегда проходят на одном дыхании, Вы и Ваши гости еще долго будете вспоминать, как веселились на славу и танцевали до упаду!
                  </p>  
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <a  class="media-icon">
                    <span class="fa fa-group"></span>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Команда</h4>
                  <p>
                  	За годы работы вокруг меня образовалась дружная команда настоящих профессионалов праздничной индустрии. Всегда рада быть верным помощником и организатором Вашего торжества!
                  </p>  
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <a  class="media-icon">
                    <span class="fa fa-male"></span>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Индивидуальный подход</h4>
                  <p>
                  	Красивый, веселый, запоминающийся праздник состоит из деталей. Продумаем концепцию торжества, стиль, разработаем сценарий, посмотрим по-новому на традиции и обряды. Яркие воспоминания, позитивное впечатление, радостные эмоции – это бесценно!
                  </p>  
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <a  class="media-icon">
                    <span class="fa fa-heart"></span>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Любовь к работе</h4>
                  <p>
                  	Я получаю огромное удовольствие от проведения торжеств. Каждый праздник получается искренним и душевным! Полная самоотдача для Вас!
                  </p>  
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <a  class="media-icon">
                    <span class="fa fa-bullhorn"></span>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Приятный тембр голоса и грамотная речь</h4>
                  <p>
                  	Хорошая ведущая обладает грамотной поставленной речью, четким произношением и приятным голосом, чтобы все гости праздника чувствовали себя комфортно.
                  </p>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>          
    </div>
  </div>
</section>