.required{
  display: inline-block;
  color:red;
}
.btn-success{
    padding-left: 15px;
}
.btn.btn-success .glyphicon-plus-sign{
    top:2px;
    left:-6px;
}
.not_published,
.not_published a{
	color: #999;
}
.form-signin{
	background: #FFF;
    padding: 0 29px 29px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d5d5d5;
    margin-bottom: 20px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}
.page-header{
	border-bottom: 1px solid #eee;
	margin: 0 -29px 19px;
    padding: 19px 29px;
}
.page-header h1{
	margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}
.form-signin .alert-danger{
    border-radius: 0;
    border: none;
    margin-top: -20px;
    margin-left: -30px;
    margin-right: -30px;
}