<figure itemprop="associatedMedia" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
  <a class="gallery-iteam" href="images/gallery/gallery-large-1.jpg" itemprop="contentUrl" data-size="1024x1024">
    <img src="images/gallery/gallery-small-1.jpg" itemprop="thumbnail" alt="Image description" />
     <span class="image-effect"></span>
  </a>                    
  <figcaption itemprop="caption description">Image caption  1</figcaption>         
</figure>