<figure itemprop="associatedMedia" class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
  <a class="gallery-iteam" href="<%=photo.image.url%>" itemprop="contentUrl" data-size="1600x1600">

    <%= image_tag(photo.image.url(:view_thumbnail), itemprop:"thumbnail", :alt => photo.name) %>
    <span class="image-effect"></span>
    <figcaption itemprop="caption description"><%= photo.name %></figcaption>
  </a>                         
</figure>