<% @title = @object.title.to_s %>
<% @description = @object.meta_description.to_s %>
<% @keywords = @object.meta_keywords.to_s %>

<section id="blogArchive">      
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="blog-breadcrumbs-area">
        <div class="container">
          <div class="blog-breadcrumbs-left">
            <ol class="breadcrumb">
              <li><a href="/">Главная</a></li>                  
              <li class="active"><%= @object.header %></li>
            </ol>
          </div>
        </div>
      </div>
    </div>        
  </div>      
</section>

<section id="gallery_main" class="gallery_photo_video">
  <div class="container">
    <div class="col-lg-12 col-md-12">
      <div class="service-area">
        <div class="section-heading">
          <h1><%= @object.header %></h1>
          <div class="line"></div>            
        </div>              
      </div>
    </div>
    <div class="col-lg-12 col-md-12">
      <div class="albums-list">
        <div class="row">
          <%= render partial: "photos/album", collection: @albums, :as => :album %>
        </div>
      </div>
    </div>
  </div>
</section> 