<% provide(:title, 'Структура сайта') %>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<h1>Структура сайта</h1>
<table class="table"> 
	<thead> 
		<tr> 
			<th></th> 
			<th>Название</th> 
			<th></th> 
		</tr> 
	</thead> 
	<tbody> 
		<%= render @objects %>
	</tbody>
</table>

<% content_for :right do %>
	<%= link_to raw("<span class='glyphicon glyphicon-plus-sign'></span>Добавить"), {:controller => "objects", :action => "new", :parent_id => params[:parent_id] }, class: "btn btn-success" %>
<% end %>