<!DOCTYPE html>
<html lang="en">
	<%= render 'admin/layouts/head' %>
	<body style="background: #f5f5f5;">	
		<div class="container">
			<div class="row" style="width: 40%;margin: 10% auto 0;">
				<div class="col-md-12 form-signin">
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>
