<% @title = @object.title.to_s %>
<section id="blogArchive">      
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="blog-breadcrumbs-area">
        <div class="container">
          <div class="blog-breadcrumbs-left">
            <ol class="breadcrumb">
              <li><a href="/">Главная</a></li>                  
              <li class="active"><%= @object.header %></li>
            </ol>
          </div>
        </div>
      </div>
    </div>        
  </div>      
</section>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="blogArchive-area">
            <div class="row">
              <div class="col-md-12 col-sm-12">  
                <div class="blog-content">
                  <div class="single-Blog">
                    <div class="single-blog-left">
                      <div class="review-button readmore_area">
                        <a data-toggle="modal" data-target="#review_modal" data-hover="Добавить отзыв"><span>Добавить отзыв</span></a>  
                      </div>
                    </div>
                    <div class="single-blog-right"> 
          						<div class="col-lg-6 col-md-6"> 
          							<div class="reviews-content-item">
          								<div class="reviews-person-img">
          									<div class="person-img" style="background-image: url('/static/img/reviews/фафурина.jpg')"></div>
          								</div>
          								<h4>Даша Фафурина</h4>
          								<p>Дима! Спасибо большое за прекрасный праздник, который у нас получился во многом благодаря тебе! За 2 года видела 3 абсолютно разных свадьбы (включая собственную:), проведенных весело, интересно и без повторов (!) программы. Надеюсь, что увижу еще, потому что спрос на визитки среди неженатых гостей был высокий)</p>
          							</div>
          						</div> 
                    </div>
                  </div>
                </div>                     
              </div>
            </div>                   
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :reviews_modal do %>
  <%= render partial: "layouts/review_modal" %>
<% end %>