<section id="errorPage">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="error-page-area">
          <h1>404</h1>
          <h3>Ошибка</h3>
          <h5>Упс! Этой страницы не существует!</h5>
          <p>Не беспокойтесь. Вы можете вернуться на главную страницу</p>
          <div class="readmore_area">
            <a data-hover="Вернуться на главную" href="/"><span>Вернуться на главную</span></a>                
          </div>
        </div>
      </div>
    </div>
  </div>
</section>