<div class="navbar-header navbar-right feedback-block">
	<div class="feedback-header readmore_area">
		<a data-toggle="modal" data-target="#myModal" data-hover="Обратная связь"><span>Обратная связь</span></a>  
	</div>
</div>
<div class="navbar-header navbar-right">
	<address class="contact-info text-center">
		<p><span class="fa fa-phone"></span>+7(925)202-46-26</p>
		<p><span class="fa fa-phone"></span>+7(903)965-90-90</p>
		<p>
			<a href="mailto:irina_svadba@bk.ru"><span class="fa fa-envelope"></span>irina_svadba@bk.ru</a>
		</p>
		<p>
			<a target="_blank" href="https://new.vk.com/irina_fbr_prazdnik"><span class="fa fa-vk"></span>Vkontakte</a>
		</p>
	</address>
</div>