<a class="navbar-brand text-center" href="/">
	<div class="navbar-image">
		<%= image_tag("logo.png", :alt => "Ведущая важных событий Ирина Баранова") %>
	</div>
	Ведущая важных событий <br /> <span>Ирина Баранова</span>
</a>