<div id="navbar" class="navbar-collapse collapse navbar-left">
  <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
  	<% @main_navigation = Objects.where("is_published = 1 and objects.sort_order <> 0").order("sort_order ASC").joins(:main_navigations) %>
	<% @main_navigation.each do |object| %>
		<li>
			<% if object.objects_type_id == 3 %>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <%= object.header %> <span class="fa fa-angle-down"></span></a>
				  <ul class="dropdown-menu" role="menu">
				  	<% @services = Services.where("is_published = 1").order("sort_order ASC") %>
				  	<% @services.each do |service| %>
						<li><%= link_to_service service.header, service_path(service.permalink) %></li>
					<% end %>
				  </ul>
				</li>
			<% else %>
				<%= link_to_object object.header, object %>
			<% end %>
		</li>
	<% end %>
  </ul>           
</div>