<div class="modal fade" id="review_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  <h4 class="modal-title" id="myModalLabel">Оставить отзыв</h4>
		</div>
		<div class="modal-body">
		  <div class="appointment-msg">
		  </div>
		  <div class="appointment-area">
		  	<% @reviews = Reviews.new %>
		  	<%= form_for @reviews, :format => 'js', :url => { :action => :create }, html: { multipart: true, :class => "appointment-form" }, :remote => true do |f| %>
				<div class="col-md-12 col-sm-12">
				  <label class="control-label">Представьтесь <span class="required">*</span>
				  </label>
				  <input id="review_fio" name="reviews[fio]" type="text" class="wp-form-control wpcf7-text" placeholder="ФИО">
				</div>
				<div class="col-md-6 col-sm-6">
				  <label class="control-label">Событие
				  </label>
				  <input id="event" name="reviews[event]" type="text" class="wp-form-control wpcf7-text" placeholder="Событие">
				</div>
				<div class="col-md-6 col-sm-6">
				  <label class="control-label">Дата проведения
				  </label>
				  <input id="datetimepicker" name="reviews[date]" type="text" class="wp-form-control wpcf7-text" placeholder="Дата проведения...">
				</div>
				<div class="col-md-6 col-sm-6">
					<input class="rating" max="5" min="0" name="reviews[rate]" step="1" type="number">
				</div>
			  	<div class="col-md-12 col-sm-12">    
			  		<textarea id="review_body" name="reviews[body]" class="wp-form-control wpcf7-textarea" cols="30" rows="10" placeholder="Отзыв..."></textarea>
			  	</div>
			  	<div class="col-md-12 col-sm-12">
					<input type="file" id="add-photo" name="reviews[avatar]" class="hidden-input">
					<p class="block-add-photo">
						<span class="fa fa-camera"></span><label for="add-photo">Прикрепить</label> фото для аватарки
						<em id="name_file"></em>
					</p>
				</div>
			  	<div class="col-md-12 col-sm-6"> 
					<button class="review-button-submit text-center wpcf7-submit button--itzel" type="submit">
						<i class="button__icon fa fa-share"></i>
						<span>Оставить отзыв</span>
					</button>  
				</div>
			 <%end%>
		  </div>
		</div>                    
	  </div>
	</div>
</div>