<div class="modal fade" id="review_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  <h4 class="modal-title" id="myModalLabel">Оставить отзыв</h4>
		</div>
		<div class="modal-body">
		  <div class="appointment-msg">
		  </div>
		  <div class="appointment-area">
			<form accept-charset="UTF-8" action="/reviews" class="appointment-form" data-remote="true" id="new_reviews" enctype="multipart/form-data" method="post">
				<div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
				<div class="col-md-12 col-sm-12">
				  <label class="control-label">Представьтесь <span class="required">*</span>
				  </label>
				  <input id="fio" name="reviews[fio]" type="text" class="wp-form-control wpcf7-text" placeholder="ФИО">
				</div>
				<div class="col-md-6 col-sm-6">
				  <label class="control-label">Событие
				  </label>
				  <input id="event" name="reviews[event]" type="text" class="wp-form-control wpcf7-text" placeholder="Событие">
				</div>
				<div class="col-md-6 col-sm-6">
				  <label class="control-label">Дата проведения
				  </label>
				  <input id="date" name="reviews[date]" type="date" class="wp-form-control wpcf7-text" placeholder="Дата проведения...">
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="rateit bigstars"data-rateit-starwidth="32" data-rateit-starheight="32"></div>
				</div>
			  	<div class="col-md-12 col-sm-12">    
			  		<textarea id="body" name="body" class="wp-form-control wpcf7-textarea" cols="30" rows="10" placeholder="Отзыв..."></textarea>
			  	</div>
			  	<div class="col-md-12 col-sm-12"> 
					<button class="review-button text-center wpcf7-submit button--itzel" type="submit">
						<i class="button__icon fa fa-share"></i>
						<span>Оставить отзыв</span>
					</button>  
				</div>
			</form>
		  </div>
		</div>                    
	  </div>
	</div>
</div>