<section id="sliderArea">  
  <div class="top-slider">
	<!-- Start slide -->
	<div class="top-slide-inner">
	  <div class="slider-img">
		<img src="images/14.jpg" alt="">
	  </div>
	  <div class="slider-text">
		<h2>An <strong>Excellent Theme</strong> for your Health Related Project</h2>
		<p><strong>WpF Medinova</strong> Theme suitable for any health and medical related projets or business</p>
		<div class="readmore_area">
		  <a data-hover="Read More" href="#"><span>Read More</span></a>                
		</div>
	  </div>
	</div>
	<!-- End slide -->
  </div>
</section>