<div class="top-slide-inner">
  <div class="slider-img">
	<%= image_tag slide.image.url(:slider), alt: slide.name %>
  </div>
  <div class="slider-text">
	<h2><%= slide.header %></h2>
	<p><%= slide.body %></p>
  </div>
</div>